
/******************** Tag Selector*********************/
body{
  background-color: #cbf1f5;
}

img:hover{
  border-radius: 20%;
  transition: transform 0.2s;
  transform: scale(1.2);
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h3{
  color: #66BFBF;
}

/******************** Class Selector *********************/
.EC{
  color: #ea6227;
}

.WE{
  color: #363062;
}

/******************** ID Selector *********************/
#Name{
  color: #10375c;
}
